<!-- framework bootstrap form 1 -->

<form method="POST" action="/sign_up">
    <input type="text" name="first_name" placeholder="first name" required>
    <input type="text" name="last_name" placeholder="last name"required>
    <input type="text" name="email" placeholder="email" required>
    <input type="date" name="birthday" required>
    <input type="text" name="password" placeholder="password" required> 
    <button type="submit">sign up</button>
</form>

<form method="POST" action="/login">
    <input type="text" name="email" placeholder="email" required>
    <input type="text" name="password" placeholder="password" required>
    <button type="submit">login</button>
</form>